/*
Theme Name: Twenty Twenty-Five Child
Theme URI: https://example.com
Description: Thème enfant de Twenty Twenty-Five
Author: Ton Nom
Template: twentytwentyfive
Version: 1.0.0
*/

/*
 * IMPORTANT: This file is only served on the frontend when `SCRIPT_DEBUG` is enabled;
 * in most instances, the `style.min.css` file will be served. It is not recommended that you
 * use the Theme File Editor to modify this stylesheet. Instead, add the necessary style
 * overrides via "Additional CSS" in the Site Editor.
 */
.leaflet-popup-content-wrapper.leaflet-popup-content-wrapper {
    border-radius: 5px;
}

.leaflet-popup-content.leaflet-popup-content {
    margin: 0;
}

.map-popup-category {
    border-radius: 5px;
}

.map-popup-category-name {
    font-weight: bold;
    color: #ffffff;
    padding: 5px 10px;
    background-color: var(--cat-rgb);
    border-radius: 5px 5px 0 0;
}

.map-popup-image {
    display: block;
	max-width: 100%;
	height: auto;
}

.map-popup-content {
    padding: 5px 10px;
}

.map-popup-title {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 1.2em;
}

.leaflet-container.leaflet-container a.leaflet-popup-close-button {
	color: white;
}
.leaflet-container.leaflet-container a.leaflet-popup-close-button:hover,
.leaflet-container.leaflet-container a.leaflet-popup-close-button:focus {
	color: rgba(255, 255, 255, 0.8);
}
.map-filter-cat {
    --alpha: 1;
    --alpha-hover: 0.9;
    --alpha-active-hover: 0.08;

    background-color: rgba(var(--cat-rgb), var(--alpha));
    color: #fff;
    border: 1px solid transparent;

    border-radius: 22px;
    padding: 0 10px;
    min-width: 44px;
    min-height: 22px;
    font-size: 0.6em;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    user-select: none;

    transition:
        background-color 0.2s ease,
        color 0.2s ease,
        box-shadow 0.2s ease;
}

.map-filter-cat.is-active {
    background-color: #fff;
    color: rgb(var(--cat-rgb));
    border-color: rgba(var(--cat-rgb), 0.4);
}

@media (hover: hover) and (pointer: fine) {

    /* bouton inactif */
    .map-filter-cat:hover:not(.is-active) {
        background-color: rgba(var(--cat-rgb), var(--alpha-hover));
    }

    /* bouton actif → hover PLUS LÉGER */
    .map-filter-cat.is-active:hover {
        background-color: rgba(var(--cat-rgb), var(--alpha-active-hover));
    }
}

.map-filter-cat:focus {
    outline: none;
}

.map-filter-cat:focus-visible {
    box-shadow: inset 0 0 0 2px rgb(var(--cat-rgb));
}

.map-filter-cat:disabled {
    background-color: rgba(var(--cat-rgb), 0.06);
    color: rgb(var(--cat-rgb));
    border-color: transparent;
    cursor: not-allowed;
    box-shadow: none;
}

.map-wrapper {
    position: relative;
}

.map-container {
    height: calc(100vh - 180px);
}   

.map-filters {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
}
